name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build orders-service image
        uses: docker/build-push-action@v6
        with:
          context: ./services/orders-service
          push: false
          tags: local/orders-service:latest

      - name: Build payments-service image
        uses: docker/build-push-action@v6
        with:
          context: ./services/payments-service
          push: false
          tags: local/payments-service:latest
